DEVICE={{ b_device }}
IPADDR={{ b_ip }}
NETMASK={{ b_netmask }}
NETWORK={{ b_network }} 
BROADCAST={{ b_broadcast }}
GATEWAY={{ b_gw }}
DNS1={{ b_dns1 }}
#DNS2=
BONDING_OPTS=miimon=100 mode=active-backup
ONBOOT=yes
BOOTPROTO=none
USERCTL=no
NM_CONTROLLED=no
IPV6INIT=no
