TYPE="Ethernet"
PROXY_METHOD="none"
BROWSER_ONLY="no"
BOOTPROTO="none"
DEFROUTE="yes"
IPV4_FAILURE_FATAL="no"
IPV6INIT="yes"
IPV6_AUTOCONF="yes"
IPV6_DEFROUTE="yes"
IPV6_FAILURE_FATAL="no"
IPV6_ADDR_GEN_MODE="stable-privacy"
NAME="{{ ansible_default_ipv4.interface }}"
UUID="52162e50-251a-4ed0-9793-0f6a1be5b5b3"
DEVICE="{{ ansible_default_ipv4.interface }}"
ONBOOT="yes"
IPADDR="{{ ip }}"
PREFIX="{{ prefix }}"
GATEWAY="{{ gw }}"
IPV6_PRIVACY="no"
DNS1="{{ dns1 }}"
